.header-container {
  display: flex;
}

.header-city {
  width: 100px;
  background-color: aquamarine;
}

.header-search {
  flex: 1;
}

.header-user {
  width: 100px;
  background-color: aquamarine;
}

.icon-unfold {
  font-size: 14px;
}